* {

background: #26272A;
foreground: #F1D0D1;

activecolor: #905357;
selectedcolor: #55383F;
bordercolor: #4C4C4F;
selectedtext: #E2B4B5;
selectedbackgroundcolor: #724A54;


urgentcolor: #9F7E7F;



}
