* {

background: #1B1E23;
foreground: #AFAFB1;

activecolor: #8C544B;
selectedcolor: #3A404B;
bordercolor: #201E1E;
selectedbordercolor: #848587;
selectedtext: #848587;
selectedbackgroundcolor: #4E5564;


urgentcolor: #5C5D5E;



}
