* {

background: #0A060D;
foreground: #B0ACB2;

activecolor: #5A1221;
selectedcolor: #270F1C;
bordercolor: #240D0A;
selectedtext: #868089;
selectedbackgroundcolor: #341426;


urgentcolor: #5D5A60;



}
